In [5]:
import pandas as pd

In [6]:
# Đọc kết quả từ tệp GRU
df_gru = pd.read_csv('../gru/result.csv')

# Đọc kết quả từ tệp LSTM
df_lstm = pd.read_csv('../lstm/result.csv')

# Đọc kết quả từ tệp SE
df_se = pd.read_csv('../se/result.csv')

In [7]:
# Kết hợp hai DataFrame thành một DataFrame duy nhất
result_table = pd.concat([df_gru, df_lstm, df_se], ignore_index=True)
result_table

   Model Thông tin     Kết quả
0    GRU       MAE   98.220278
1    GRU       MSE  419.943746
2    GRU      MAPE    3.481108
3    GRU     sMAPE    3.523655
4   LSTM       MAE  159.929890
5   LSTM       MSE  472.489639
6   LSTM      MAPE    4.043363
7   LSTM     sMAPE    4.133326
8     SE       MAE   73.855051
9     SE       MSE  470.978586
10    SE      MAPE    3.984665
11    SE     sMAPE    4.036479